body{
  background-image: url(/img/background.jpg);
  background-repeat: repeat;
}
.container {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color:rgba(0,0,0,0);
}
.site-header{
  text-align: center;
  padding-top: 65px;
  border-radius: 10px 10px 10px 10px;
}
.site-header form input {
  color: black;
}
.site-header form textarea {
  color: black;
}
.logo{display: inline-block;}
.logo h1{
  font-size: 45px;
  line-height: 52px;
  text-transform: uppercase;
	padding-bottom: 30px;
  letter-spacing: 7px;
}
.menu{
  padding-top: 40px;
  padding-bottom: 45px;
  text-align: center;
  font-family: 'source_sans_problack';
  font-size: 18px;
}

.menu ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  /* For IE, the outcast */
  zoom:1;
  *display: inline;
}
.menu ul li{
  float: left;
  padding: 2px 5px;
}

.menu ul a{
  color: white;
  text-decoration:none;
  width:140px;
  float:left;
  font-weight:bold;
  text-align:center;
  line-height:35px;
}
.menu ul a:hover {
  background-color:rgba(0,0,0,0);
}

.title-text{
  display: inline-block;
}

.title-text h1{
  font-size: 30px;
  line-height: 52px;
  text-transform: uppercase;
  border-bottom: 3px double #eaeaea;
	padding-bottom: 30px;
  font-family: 'source_sans_problack';
  letter-spacing: 7px;
}

.about_us>div{
  display: block;
  width: 100%;
}

.image_container {
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 20px;
  border: 10px double #eaeaea;
  padding: 10px;
  width: 500px;
  height: 370px;
}

.image_container>img{
  height: 95%;
  margin: 3px;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.3);
  display: none;
}
.image_container:hover .overlay{
  display: block;
}
.overlay>p{
  padding: 30px;
  color: white;
  text-align: center;
  font-family:'source_sans_problack';
  font-size: 18px;
}
.info-author {
  display: inline-block;
  font-family: cursive;
  font-size: 20px;
  color: #716a72;
}
input,textarea{
  margin-top: 5px;
}
#footer-usage {
  padding-bottom: 20px;
  font-family: 'source_sans_problack';
  font-size: 14px;
}
.about_project{
  padding-top: 20px;
  font-family:'source_sans_problack';
  padding-left: 5%;
  padding-right: 5%;
  font-size: 18px;
}

.desc-text{
  font-size: 18px;
  font-style: italic;
}

.can_you_do{
  padding-top: 40px;
  height: 100px;
  width: 300px;
  border-radius: 100%;
  background-color: #222222;
  color: yellow;
  float: left;
  font-weight: bold;
  border: 1px solid black;
  box-shadow: 5px 5px 0 0 black;
}

.can_you_do_list{
  padding: 10px 0 0 0px;
  /*font-size: 18px;*/
}

.how_to_use{
  padding-top: 40px;
  height: 100px;
  width: 300px;
  border-radius: 100%;
  background-color: #222222;
  color: yellow;
  float: right;
  font-size: 18px;
  font-weight: bold;
  border: 1px solid black;
  box-shadow: 5px 5px 0 0 black;
}

.link_project{
  position: relative;
  padding-bottom: 30px;
}

#image_slide_container{
  margin: auto;
}

.container_1{
  overflow: hidden;
  position: relative;
}

.container_1>*{
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
}

@media screen and (max-width: 640px) {
  .image_container {
    width: 250px;
    height: 185px;
  }
  .overlay>p{
    font-size: 10px;
  }
  .info-author {
    font-size: 15px;
  }
  .link {
    width: 250px;
    height: 85px;
  }

  .can_you_do{
    width: 70%;
    float: none;
    margin-left: 15%;
  }
  .how_to_use{
    width: 70%;
    float: none;
    margin-left: 15%;
  }
  }
  .log {
    background-color: rgba(245, 255, 250,	 0.7);
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 100px;
    text-align:center;
  }
  input {
    width: 250px;
    height:30px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  select {
    width: 250px;
    height:30px;
    margin-top: 0px;
    margin-bottom: 20px;
  }
  button {
    width: 255px;
    height:40px;
    background-color:#103667;
    border: none;
    font-size:17px;
    color: white;
    margin-bottom: 20px;
  }
